@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Convergence:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.parent-div {
  width: 390px;
  height: 10778px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.node-323334 {
  position: absolute;
  width: 390px;
  height: 10778px;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 0px 0px 0px 0px;
  background: #ffffffff;
}
.node-323430 {
  position: absolute;
  width: 397px;
  height: 10778px;
  top: 0px;
  left: -7px;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
}
.node-323384 {
  position: absolute;
  width: 397px;
  height: 10778px;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 0px 0px 0px 0px;
  background: linear-gradient(
    180deg,
    #0711ffff 0%,
    #5707ffff 14%,
    #a30cffff 100%
  );
}
.nodeBg-323389 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/401c/06fc/b5f2c15398c3fde55b9413c1e88e07de?Expires=1704672000&Signature=SEqRoxrv9sHwVt8l8h3J7QkbCqyDLCgWn2WVLuE3XPq-NcOR9TfpuKDmOFa2DlfycX0T1YZpXRV~phIPP4UrAEVZCF6pm0mvX5vZE9DOT4oqXPgpCU-tIFMNZZHivNtY40DQ3pJK987JRidB8EKmdrQETZsbo~u-qhH5LNcMgwKFoUsIKcI0Uz40vHXtNR90AEN1dh0HkRyuZ5d1sR8sKSPJZ72cPkBHH4T9uwABbeGXRNLmSq-IiiQyrMUzTZvjEA0Gz7AXPfvcGfIR78lAAULToNp16QNvSGEOI-vFz7ZlAdak1MVZBwG0XseH5NM4neSxF3I2-JootyjJ-j0bOg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323389 {
  position: absolute;
  width: 349px;
  height: 158px;
  top: 451px;
  left: 22px;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 48px 48px 48px 48px;
}
.nodeBg-323390 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/e87b/fb4c/1e588c032e9b4521864905089a6c583a?Expires=1704672000&Signature=Oywg3~cMGg1~gL28Sm7n0qU8rBrxa8lS1q6sxDNZy~6a1LHouZ9NWatHd5MWGLHCsFlPeuBuuRQDo1LiBbWWbmG2fG8Pp~ttvnc1VoJR8CjHxP9ZfyRbWU1~lY-IaX9cGHhZK5hh1hR9xy-vXQaMRNU3oq29okOSOb4D6lo8i~x1esUR7AUkDFrXjFaQjPnfNdldRiT5UrIx1-55JDpxGFXHhPgO5DUcM1gR5BkmY7pbHvywCWrTDfAekbyAGCqMIfXV0Afy~b0nch2aH6LJ7V2cUUvQgmHBsgoejBK0hVJfbtMN1w74P-VUoldjfplBejV2EIydyA0lu-JqxqYg2Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323390 {
  position: absolute;
  width: 107px;
  height: 99px;
  top: 1880px;
  left: 793px;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 0px 0px 0px 0px;
}
.nodeBg-323391 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/ef0b/b374/19ef22c15bb1593d0f2622badeaf9940?Expires=1704672000&Signature=pCFq5kJ~hLsGQzn1mzv5zO3GbDIbCUakTwxn8LVlfjBe4xHHAPILRdEBvt8kfmHwPupuDccckih~wPUAoX01pyBWGKiLYWb-wwUYaLLQeZRr3iio9RJmfWzJ0Rr6HiEPLWHUc5YDpS0z2YmSnFjmEPQjPNnpBx3pM1jmW4QDCS4DjdjfzM2bIPz9dkrevHAE1rd-z2nL0nv0c4BWccMTmKb3wp5KK6MtdBr3nOutryC2l1en7HL8mMfR5F~~H93S1XH81AQqISUZellauXbd1pGRb24r1ruIucQ6Y0Ai3SXJvvnxquJweX9rdHyK4QD1BNGvXKC1xaIZhi1U57vHOQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323391 {
  position: absolute;
  width: 95px;
  height: 99px;
  top: 1880px;
  left: 553px;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 0px 0px 0px 0px;
}
.node-323396 {
  position: absolute;
  width: 316px;
  height: 357px;
  top: 7736px;
  left: 41px;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
  border-radius: 49px 49px 49px 49px;
  background: linear-gradient(134.14deg, #00ff85ff 0%, #08f0ffff 100%);
}
.nodeBg-323398 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/e5b8/17c3/38eadd60008dea01737db3c930dce057?Expires=1704672000&Signature=CbqA7PEvXrKoWZb1gp4yh4v3KnBv-Y4UH6Yp806bqPJRFDIUZ8qh-pq9BSevmae28yR7lx2EtJOlF4~sxfo~qJX593LK8ffSmty6letI~DNqu86df0VHQidZuZGeLOMKrpVw4gxWaniMdZavXSJNjKfE4oS1cxQJ3uZvgpXrrXwZOhHPABDwA40iX5GxSq7GXSeAWEGHF4M3ZNWjocU4ztitlsPk7c3B7u1KfMmsQ6OZCg4HXExLJqp5vyjkeC0TwrlQXw6equaR7clzSsmmZJpJ1MYNyo2GAsdU~bzjdUmdUfmKRjqyA0s3uyMzbtA0Wo-p38V1KGRNKJER3~4-Cg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323398 {
  position: absolute;
  width: 170px;
  height: 317px;
  top: 1008px;
  left: 114px;
  opacity: 1;
  z-index: 11;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 65px 65px 65px 65px;
}
.nodeBg-323401 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/ffac/4f14/9d998a86945fed4c391f938a6d5062a6?Expires=1704672000&Signature=fqluXtk3aFgW0iR7mhKiXJ7sNkThC9LH908Lc0QDRG6dHS9FXqz5Cg~WzDxE7XmsnDXw9DEiwZjF0w5e76xL-8O-ohKG2FeNxDlYJ89GFXMjb2QfFo9qhf9vbMCz~ixt2kx8CwM48m0qBZ3tvbtAXaBz1T9e3QfFpCmdEg6ITEebZ0Kfs7BbhLbVBC2mPITxX83UJPKrNSpI5E5W3yEkUz1E36XsG3qbHgghoHhjFsRzvfNDSSSyHYXPMFmB6nX26JbcOgsH5llNj~9tl0VdyBBHcYXjii76LOp6Vzm~fdjz1~8NcAAgHwglhM~lCuaMHRXn-f1TaNd6F9XeIrKkxw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323401 {
  position: absolute;
  width: 370px;
  height: 230px;
  top: 1930px;
  left: 14px;
  opacity: 1;
  z-index: 14;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 68px 68px 68px 68px;
}
.nodeBg-323403 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/05d9/bb66/98862fc3ad7a87408b9bedc1d8df0380?Expires=1704672000&Signature=bfpTFucB8ARTH2IcEee7gYe6u7gSVvpmx8ORUGLCtaISNQfg6ZOkug-GE~NZ-9kkh1~9gytKKpk1lXaYCQIPplotiB5awHL-LusUzrOGyXEaV~Q03-sPrTJs6NFPKGRt1ubJFvuWZkIo9y5e9HAAHxIz7~RIvAq8vTCJkuy4lP0PvgND0tJGuK-PcS5KqMmrqeo1F6~qH6pt2UaUfcwSWuLhervydjhnkgCZm1Nt8KAwWxTNPRjYCqGA99hmLyiorqJ1NpE~LTkdy1Mxv5J4aWVWMO8CQG65Fl~jKhDqYbAlf-PmqPQ1R7TOpeYitLgCxOYlaOG~LVGMIzUIjRjZXw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323403 {
  position: absolute;
  width: 314px;
  height: 188px;
  top: 2838px;
  left: 42px;
  opacity: 1;
  z-index: 16;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 64px 64px 64px 64px;
}
.nodeBg-323405 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/2476/7487/248088711da2e82ce5dcc30f19b2b507?Expires=1704672000&Signature=p~X0y3KjRQqdiBErC5GMTVfcab~yMORRS3upoMipLD~3ysc0lB2MyUCdoWJ7HnYC--Dac9JBcu8TgxZ6naEQpYmdyaBDECMUEUCJ1R6XS1hUWbakaXxbBsCyXbPcrZC5Hgjr7~Z4kD8UpbMBKVjPnQUGp81Ld0wQ-jWHR8IpvVtW-2IUsHRfyf-ITbZmiGFRs5Xw34VZ9ukuM~jzU5D0aaz3tJc3jMyAmtGoHC73ADLf7knB5NpnzGd-GCAiXPOZiPkaovMNtKZwgPFN96F2ngDN-7uU98OYgYreUSg6MeWYHjxSMOcemaDl9OE7ZpK397d5g5REMlwX91w6V2sXmQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323405 {
  position: absolute;
  width: 313px;
  height: 255px;
  top: 3643px;
  left: 42px;
  opacity: 1;
  z-index: 18;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 66px 66px 66px 66px;
}
.node-323406 {
  position: absolute;
  width: 1452.209716796875px;
  height: 21.849040985107422px;
  top: 10755.923226551444px;
  left: 0.001963119085985454px;
  opacity: 1;
  z-index: 19;
  transform: rotate(0.01020137683668886deg);
  border-radius: 0px 0px 0px 0px;
  background: linear-gradient(90.11deg, #00fe8cff 0%, #ffffffff 100%);
}
.nodeBg-323407 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/1c56/f30e/61878cc46695de2e15099c3256a236d9?Expires=1704672000&Signature=B40J1S10gcYVSdfeIVSo54~q5PfdcZgTY0GeJgCD030iyxl4R5FDmpWDJuJma5v2hhU3jWC9NyUfRkV5moGkOyQcuuk~1vUQZWHZ6bZY1LTwz9JgFcZEFTMxwkwOzyxkMM5zUkS9jLY1XzEhC9TVuhSn3rdlua21-kmn25vTGGRu0psse2pjfTnQbaRP9bhZbWjZatt3Dj2PDwjmhwG7pLLzzqaicE-2L0gJVits~AHi2~BsNKAIXa0MSRuIXVuDjLfSdxQA2ss3n5gz0o2FwlqPAwZeTT2OPNZz58EZQJUKKmb6sScCudUi4LKh2Ilv0f7ZjDdkBf3Tj5zA2VogrQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323407 {
  position: absolute;
  width: 360px;
  height: 198px;
  top: 4662px;
  left: 19px;
  opacity: 1;
  z-index: 20;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 64px 64px 64px 64px;
}
.nodeBg-323414 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/524d/1dae/1b59e46e0504ddf1b891104b70229341?Expires=1704672000&Signature=OmyHNlOMuXLwqPG3qDRxLielfJAJF62uCkol5ifWXfGi3A~GMqND3NZ~Sc280EnwzLzNl~gttn-newi7hO~18hg-NS~cktS6Vut4TdPW3N8ITZqGCQDBo8QaARx6ISQeY5vj1fKt~TuLlLESKV0R8NbCTAsYJqNAAq295BRRZKneCN6NTfZeuaQASvuXby0Vtf~VDJvYVW~KIVkI2eNv5y5CVNrRMsb6Myw-ksqnn~AedDXblQcxgXnPheam1T7DfMz06-hcw2zYXasIrQ8ZIypjQYxPcGhPRiON-oMK2GKtqrRtphetKQRWqQFHN4NbbyG5OIR6ecV6WuNU8Z~A9w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323414 {
  position: absolute;
  width: 455px;
  height: 342px;
  top: 5539px;
  left: 825px;
  opacity: 1;
  z-index: 27;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 65px 65px 65px 65px;
}
.nodeBg-323415 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/2d29/7006/a60f3bd88fd53958fd50623550b7abf5?Expires=1704672000&Signature=Cj4eRsiCCTd7d6wE9i09-6hCeXkz3s~5rDFqHSoS1YjjPLgyB0~lpaxJx4ZZ~zlP6sBL1Vn6YKr56K9pOqGYKlJhUMapz2xo3dQSg60102ZbCFy0khomAWwUGhzP9UtUvfk-KFpFkIcutFGV0XSrr9NTprqXskEeTNMkmo1rrrN1CjvZUbYmP59imsGTw50sXNEqERS5X901dBHezquPjzBUdJ7SKvA7byk~lWm5Ov7gOMCUH3QWHGC9XceXAgUZ9V4ZeuluuF6TlZTzJSb0OuXQV2PRWil02-C1SKoMkqi59YZCk3adJpLKC9B2ID6VMWba72PAWhcEaCIGe7UMfw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323415 {
  position: absolute;
  width: 372px;
  height: 228px;
  top: 6007px;
  left: 13px;
  opacity: 1;
  z-index: 28;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 65px 65px 65px 65px;
}
.nodeBg-323424 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/a227/4f6e/d9ee0066e3e61a08a47fce2eed5d05e1?Expires=1704672000&Signature=dDOz3EnNyRQSYbtcUlBiW5OgM0iV9NGTdovAEy7-wwlAIqh5jhWM9UlLLFWs7bLUQS3ZXrCv8hD3z1l-Bhnt8gE6e-0dTvSoOFJ4IZdZlW5ZIAXbkFVQokNVU33NK0RKDtatjBAXZWKnLilXJAf8JBgsyoqSWwOWiSssFhbcUE0Aesw8ZlYJNA4~gDJecEXxgQqaJ71F0KI5vHeqvCsA4RliLWLltz6cZ3UZs~6Yu~gQWVdhAaJUfQq~GJOGWYld2S8rjVsLHmXVgRVlr9cd4GTrwgWutMMgHNdwjid3H9G3Bvai74W45mtxQIqLjayfLZ2l1zJVqBFoP7xJ9HOxeA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323424 {
  position: absolute;
  width: 227px;
  height: 252px;
  top: 6701px;
  left: 85px;
  opacity: 1;
  z-index: 37;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 63px 63px 63px 63px;
}
.nodeBg-323426 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3-alpha-sig.figma.com/img/524d/1dae/1b59e46e0504ddf1b891104b70229341?Expires=1704672000&Signature=OmyHNlOMuXLwqPG3qDRxLielfJAJF62uCkol5ifWXfGi3A~GMqND3NZ~Sc280EnwzLzNl~gttn-newi7hO~18hg-NS~cktS6Vut4TdPW3N8ITZqGCQDBo8QaARx6ISQeY5vj1fKt~TuLlLESKV0R8NbCTAsYJqNAAq295BRRZKneCN6NTfZeuaQASvuXby0Vtf~VDJvYVW~KIVkI2eNv5y5CVNrRMsb6Myw-ksqnn~AedDXblQcxgXnPheam1T7DfMz06-hcw2zYXasIrQ8ZIypjQYxPcGhPRiON-oMK2GKtqrRtphetKQRWqQFHN4NbbyG5OIR6ecV6WuNU8Z~A9w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  opacity: 1;
}
.node-323426 {
  position: absolute;
  width: 318px;
  height: 212px;
  top: 5352px;
  left: 40px;
  opacity: 1;
  z-index: 39;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 65px 65px 65px 65px;
}
.node-323386 {
  position: absolute;
  width: 328px;
  height: 189px;
  top: 298px;
  left: 43px;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323386-0 {
  font-size: 17px;
  font-family: Montserrat Alternates;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323395 {
  position: absolute;
  width: 350px;
  height: 60px;
  top: 7651px;
  left: 24px;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323395-0 {
  font-size: 40px;
  font-family: Convergence;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323397 {
  position: absolute;
  width: 885px;
  height: 100px;
  top: 7819px;
  left: -244px;
  opacity: 1;
  z-index: 10;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323397-0 {
  font-size: 25px;
  font-family: Outfit;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323399 {
  position: absolute;
  width: 136px;
  height: 58px;
  top: 1779px;
  left: 131px;
  opacity: 1;
  z-index: 12;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.node-323399-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #edededff;
}

.node-323400 {
  position: absolute;
  width: 145px;
  height: 123px;
  top: 3497px;
  left: 126px;
  opacity: 1;
  z-index: 13;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.node-323400-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #e9eceaff;
}

.node-323402 {
  position: absolute;
  width: 252px;
  height: 165px;
  top: 2637px;
  left: 73px;
  opacity: 1;
  z-index: 15;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.node-323402-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323404 {
  position: absolute;
  width: 289px;
  height: 647px;
  top: 2912px;
  left: 54px;
  opacity: 1;
  z-index: 17;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323404-0 {
  font-size: 19px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323408 {
  position: absolute;
  width: 402px;
  height: 72px;
  top: 4499px;
  left: -5px;
  opacity: 1;
  z-index: 21;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323408-0 {
  font-size: 30px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323409 {
  position: absolute;
  width: 157px;
  height: 92px;
  top: 6982px;
  left: 120px;
  opacity: 1;
  z-index: 22;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323409-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323410 {
  position: absolute;
  width: 318px;
  height: 804px;
  top: 6953px;
  left: 37px;
  opacity: 1;
  z-index: 23;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323410-0 {
  font-size: 25px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323411 {
  position: absolute;
  width: 130px;
  height: 102px;
  top: 5560px;
  left: 134px;
  opacity: 1;
  z-index: 24;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323411-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323412 {
  position: absolute;
  width: 353px;
  height: 48.6772575378418px;
  top: 4860px;
  left: 22px;
  opacity: 1;
  z-index: 25;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323412-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323413 {
  position: absolute;
  width: 290px;
  height: 50.58616638183594px;
  top: 6252px;
  left: 54px;
  opacity: 1;
  z-index: 26;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323413-0 {
  font-size: 40px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323417 {
  position: absolute;
  width: 254px;
  height: 85px;
  top: 7948px;
  left: 72px;
  opacity: 1;
  z-index: 30;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
  mix-blend-mode: normal;
}
.node-323417-0 {
  font-size: 18.200000762939453px;
  font-family: Outfit;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;

  line-height: 19.200000762939453px;
  color: #eaeaeaff;
}

.node-323418 {
  position: absolute;
  width: 316.9160461425781px;
  height: 174.03384399414062px;
  top: 60.60045835539191px;
  left: 39.91534407799733px;
  opacity: 1;
  z-index: 31;
  transform: rotate(0.21712937252527723deg);
  text-align: center;
  line-height: 0px;
}
.node-323418-0 {
  font-size: 89px;
  font-family: Righteous;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 75px;
  color: #ffffffff;
}

.node-323419 {
  position: absolute;
  width: 469px;
  height: 66px;
  top: 628px;
  left: -36px;
  opacity: 1;
  z-index: 32;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323419-0 {
  font-size: 11px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323420 {
  position: absolute;
  width: 249px;
  height: 64px;
  top: 913px;
  left: 74px;
  opacity: 1;
  z-index: 33;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323420-0 {
  font-size: 39px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323421 {
  position: absolute;
  width: 310px;
  height: 214px;
  top: 2283px;
  left: 54px;
  opacity: 1;
  z-index: 34;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323421-0 {
  font-size: 19px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323422 {
  position: absolute;
  width: 330px;
  height: 413px;
  top: 3953px;
  left: 34px;
  opacity: 1;
  z-index: 35;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323422-0 {
  font-size: 19px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323423 {
  position: absolute;
  width: 348px;
  height: 645px;
  top: 6167px;
  left: 37px;
  opacity: 1;
  z-index: 36;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323423-0 {
  font-size: 21px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323425 {
  position: absolute;
  width: 297px;
  height: 303px;
  top: 5683px;
  left: 64px;
  opacity: 1;
  z-index: 38;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323425-0 {
  font-size: 21px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323427 {
  position: absolute;
  width: 336px;
  height: 358px;
  top: 4927px;
  left: 27px;
  opacity: 1;
  z-index: 40;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323427-0 {
  font-size: 21px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323428 {
  position: absolute;
  width: 297px;
  height: 330px;
  top: 1344px;
  left: 50px;
  opacity: 1;
  z-index: 41;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323428-0 {
  font-size: 19px;
  font-family: Shippori Antique;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323429 {
  position: absolute;
  width: 396px;
  height: 55px;
  top: 757px;
  left: 1px;
  opacity: 1;
  z-index: 42;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.node-323429-0 {
  font-size: 17px;
  font-family: Aclonica;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: 27.5px;
  color: #ffffffff;
}

.node-323416 {
  position: absolute;
  width: 235px;
  height: 61px;
  top: 7965px;
  left: 81px;
  opacity: 1;
  z-index: 29;
  transform: rotate(0deg);
  border-radius: 50px 50px 50px 50px;
  background: #0e0e1aff;
  box-shadow: 0px 0px 60px 0px rgba(31, 76, 101, 1);
}
.nodeBg-323385 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: transparent;
  background-size: contain;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
}
.node-323385 {
  position: absolute;
  width: 29.424211502075195px;
  height: 128.23599243164062px;
  top: 608.7999877929688px;
  left: 58.23735809326172px;
  opacity: 1;
  z-index: 0;
  overflow: hidden;
}
.nodeBg-323387 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F31-dec-2023%2Fpratyay%2Fimage-323-387.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.node-323387 {
  position: absolute;
  width: 397px;
  height: 10778px;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 2;
  overflow: hidden;
}
.nodeBg-323388 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F31-dec-2023%2Fpratyay%2Fimage-323-388.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.node-323388 {
  position: absolute;
  width: 397px;
  height: 10778px;
  top: 0px;
  left: 0px;
  opacity: 1;
  z-index: 3;
  overflow: hidden;
}
.nodeBg-323392 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-size: contain;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/figma-plugin-a7287.appspot.com/o/user-images%2F31-dec-2023%2Fpratyay%2Fimage-323-392.png?alt=media&token=0);
  background-repeat: no-repeat;
  background-position: center;
}
.node-323392 {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 9099px;
  left: 400px;
  opacity: 0;
  z-index: 7;
  overflow: hidden;
}

